header {
    background-color: pink;
    position: fixed;
    /* margin: 0; */
    width: 100%;
    top: 0;
    text-align: initial;
}

header h1 {
    margin: 0;
    font-size: 1em;
    text-align: center;
}

body {
    margin-top: 0 !important;
}

.search-box {
    position: relative;
    top: 0px;
    
    max-width: 400px;
    height: 20px;
}