header {
    background-color: rgb(106, 146, 169);
    position: fixed;
    /* margin: 0; */
    width: 100%;
    top: 0;
    height: 100px;
    /* text-align: initial; */
    box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.58);
    -webkit-box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.58);
}

header h1 {
    margin: 0;
    font-size: 1em;
    text-align: center;
}

.controls-container {
    display: flex;
    max-width: 400px;
    margin: auto;
    padding: 5px;
    justify-content: space-between;
}

.search-box {
    position: relative;

    max-width: 200px;
    height: 20px;
}