

.question button {
    font-size: 4vh;
}
.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% auto;
    max-width: 500px;
}

  .question button {
      padding: 20px;
  }

  

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.next-buttons {
    margin-right: 20px;
  

}
  