

/* prevent ios from rounding buttons */
input:not([type="radio"]):not([type="checkbox"]) {
    -webkit-appearance: none;
    border-radius: 0;
}

button {
    font-size: 4vh;
}

.regular-checkbox {
    margin-right: 30px;
}
.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto;
    max-width: 500px;
    border: black solid 1px;
    border-radius: 10px;;
    padding: 20px;
}

.question h1 {
    text-transform: uppercase;
}
.question-container {
    margin-top: 70px;
}
.question button {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.baseform-button {

}

.baseform-button svg {
    width: 25px;
    margin-left: 20px;
    text-align: center;
}

.question > button:first-of-type {
    margin-bottom: 20px;
}

.hide-button {
    visibility: hidden;
}