.button-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.button-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.button-icon svg   {
    width: 2em;
    margin-bottom: 10px;
    text-align: center;
    /* max-height: 100px; */
}

.button-icon span {
    /* font-size: large; */
}

.button-icon svg path {
    fill: gray;
}

.record-on svg path {
    fill: red;
}

.play-on svg path {
    fill: green;
}

.play-button-hide {
    visibility: hidden;
}