.play-button {
    display: flex;
    flex-direction: row;
}


.button-icon svg   {
    width: 5em;
}

.button-icon svg path {
    fill: gray;
}

.record-on svg path {
    fill: red;
}

.play-on svg path {
    fill: green;
}

.play-button-hide {
    visibility: hidden;
}